html {
    background-image: url("wall6.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: yellow;
}

.bg {
    display: table-cell;
    margin-left: 450px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

table, th, td {
    color: maroon;
    background-color: lightyellow;
    display: table-cell;
    box-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    float: center;
    padding: 5px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: violet;
}